<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Dashboard.css">
    <title>DashBoard</title>
</head>
<body>
    <div class="Main">

        <div class="Left-Itens">
            <div class="Logo">
                <h1 class="Logo"><span class="Blue"> < </span>TeaDoo <span class="Blue"> > </span></h1>
            </div>

            <div class="Circle-Image-User">
                <img class="User-Image" src="images/FotoTest.PNG" alt="">
            </div>
            <h1 class="Name">Nome do usuario</h1>
            <p class="Description">Desenvolvedor WEB</p>

            <div class="Itens-Dashboard">
                <div class="Btn">
                    <div class="Green-Left"></div>
                    <button id="Teams">
                        <img class="Img-Teams" src="images/group.png">
                        
                        <span class="BtnTitle">Equipes</span>
                    </button>
                </div>


                <div class="Btn">
                    <div class="Green-Left2"></div>
                    <button id="Chat">
                        <img class="Img-Chat" src="images/chat.png">

                        <span class="BtnTitle">Chat</span>
                    </button>
                </div>
                <div class="Btn">
                    <div class="Green-Left3"></div>
                    <button id="Friends">
                        <img class="Img-Friends" src="images/idea.png">

                        <span class="BtnTitle">Friends</span>
                    </button>
                </div>
                <div class="Btn">
                    <div class="Green-Left4"></div>
                    <button id="Settings">
                        <img class="Img-Settings" src="images/settings.png">

                        <span class="BtnTitle">Settings</span>
                    </button>
                </div>
                <div class="Btn">
                    <div class="Green-Left5"></div>
                    <button id="Logout">
                        <img class="Img-Logout" src="images/logout.png">

                        <span class="BtnTitle">Logout</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="Content-Rigth">
            <div class="Search-Socials">
                <input type="text" id="Search">

                <div class="Facebook">
                    <img class="Img-Socials" src="images/facebook.png" alt="">
                </div>

                <div class="Twitter">
                    <img class="Img-Socials" src="images/twitter.png" alt="">
                </div>

                <div class="Instagram">
                    <img class="Img-Socials" src="images/instagram.png" alt="">
                </div>

                <div class="WhatsApp">
                    <img class="Img-Socials" src="images/whatsapp.png" alt="">
                </div>
            </div>

            <div class="DashBoard-Panel">
                    <!--#######################################################-->
                <div class="Main-Cards">
                    <div class="Card1">
                        <div class="Perguntas">
                             <h1 class="P1-1">?</h1>
                        </div>

                        <div class="T1-A">
                            <h1 class="T1-A-T">Perguntas</h1>
                        </div>

                        <div class="TP-P">
                            <h1 class="TP-P2"><span></span>1 Perguntas realizadas.</h1>
                        </div>

                        <div class="M1-A-T">
                            <img class="More-Image" src="images/more.png">
                        </div>

                    </div>
                    <!--#######################################################-->
                    <div class="Card2">
                        <div class="Respostas">
                            <h1 class="P2-2">!!!</h1>
                        </div>

                        <div class="T1-A">
                            <h1 class="T1-A-T">Respostas</h1>
                        </div>

                        <div class="TR-R">
                            <h1 class="TR-R2"><span></span>1 Respostas Corretas.</h1>
                        </div>

                        <div class="M2-A-T">
                            <img class="More-Image" src="images/more.png">
                        </div>
                    </div>
                    <!--#######################################################-->
                    <div class="SB-Card3">
                        <div class="Friends">
                            <h1 class="P3-3">A</h1>
                        </div>

                        <div class="F1-F-A">
                            <h1 class="F1-F-T">Amigos</h1>
                        </div>

                        <div class="F3-A-T">
                            <img class="More-Image" src="images/more.png">
                        </div>

                        <div class="Images-F">
                            <div class="I-F1">
                                <img class="I-FI" src="images/Men.PNG" alt="">
                            </div>

                            <div class="I-F2">
                                <img class="I-FI-2" src="images/Woman.PNG" alt="">
                            </div>

                            <div class="I-F3">
                                <img class="I-FI-3" src="images/Woman2.PNG" alt="">
                            </div>

                            <div class="Btn-F4">
                                <img class="I-FI-4" src="images/telegram.png" alt="">
                            </div>

                        </div>

                    </div>
                </div>

                <div class="Container-PerfilUser">

                </div>
            </div>
        </div>

    </div>
</body>
</html>